.FlexContainer{
    width: 97%;
    min-height: 100px;
    max-width: 1530px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10rem 1rem;
    margin: 0 auto;

}